# OSX
.DS_Store

# node.js
node_modules
demoapp/node_modules

# Android
android/.gradle/
android/.project
android/.settings
android/.idea
android/gradle
android/local.properties
/android/.classpath
demoapp/android/local.properties
demoapp/android/.gradle/
demoapp/android/.project
demoapp/android/.idea
demoapp/android/.settings
demoapp/android/app/.gradle/
demoapp/android/app/.project
demoapp/android/app/.settings
*build/

# iOS
*.xcuserstate
ios/Pods/*
demoapp/ios/Pods/*

# artifacts
*.tgz
