# OSX
.DS_Store

# library
node_modules
lib/internal/NativeWrapper.d.ts

# demoapp
demoapp/node_modules

# Android
android/.gradle/
android/.project
android/.settings
android/.idea
android/local.properties
/android/.classpath
demoapp/android/local.properties
demoapp/android/.gradle/
demoapp/android/.project
demoapp/android/.idea
demoapp/android/.settings
demoapp/android/app/.gradle/
demoapp/android/app/.project
demoapp/android/app/.settings
*build/
.idea
*.iml
*.ipr
*.iws
out
gen-external-apklibs

# iOS
xcuserdata
*.xcuserstate
ios/Pods/*
demoapp/ios/Pods/*

# artifacts
*.tgz
