<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-powerauth-mobile-sdk" version="0.0.1">
    <name>PowerAuth SDK</name>
    <description>PowerAuth Mobile SDK for adds capability for authentication and transaction signing into the mobile apps</description>
    <license>Apache 2.0</license>
    <keywords>cordova,powerauth</keywords>
    <js-module src="lib/powerauth.js" name="powerauth">
        <clobbers target="PowerAuthPlugin" />
    </js-module>
    <engines>
        <engine name="cordova" version=">=12.0.0"/>
        <engine name="cordova-android" version=">=12.0.0" />
        <engine name="cordova-ios" version=">=7.0.0" />
    </engines>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PowerAuthModule">
                <param name="ios-package" value="PowerAuthModule"/>
            </feature>
            <feature name="PowerAuthObjectRegister">
                <param name="ios-package" value="PowerAuthObjectRegister"/>
                 <param name="onload" value="true" />
            </feature>
            <preference name="deployment-target" value="12.0" />
            <preference name="UseSwiftLanguageVersion" value="5" />
        </config-file>


        <header-file src="ios/PowerAuth/Constants.h" />
        <header-file src="ios/PowerAuth/Errors.h" />
        <source-file src="ios/PowerAuth/Errors.m" />
        <header-file src="ios/PowerAuth/PowerAuthData.h" />
        <source-file src="ios/PowerAuth/PowerAuthData.m" />
        <header-file src="ios/PowerAuth/PowerAuthEncryptorModule.h" />
        <source-file src="ios/PowerAuth/PowerAuthEncryptorModule.m" />
        <header-file src="ios/PowerAuth/PowerAuthModule.h" />
        <source-file src="ios/PowerAuth/PowerAuthModule.m" />
        <source-file src="ios/PowerAuth/PowerAuthObjectRegister+JS.m" />
        <header-file src="ios/PowerAuth/PowerAuthObjectRegister.h" />
        <source-file src="ios/PowerAuth/PowerAuthObjectRegister.m" />
        <!-- <header-file src="ios/PowerAuth/PowerAuthPassphraseMeterModule.h" /> -->
        <!-- <source-file src="ios/PowerAuth/PowerAuthPassphraseMeterModule.m" /> -->
        <!-- <header-file src="ios/PowerAuth/PowerAuthPasswordModule.h" /> -->
        <!-- <source-file src="ios/PowerAuth/PowerAuthPasswordModule.m" /> -->
        <header-file src="ios/PowerAuth/Utilities.h" />
        <source-file src="ios/PowerAuth/Utilities.m" />
        <!-- <source-file src="pin_tester.c" /> -->
        <!-- <header-file src="ios/PowerAuth/pin_tester.h" /> -->
        <!-- <header-file src="ios/PowerAuth/wpm_types.h" /> -->
        <header-file src="ios/PowerAuth/PAJS.h" />
        <header-file src="ios/PowerAuth/PAJSPlatform.h" />

        <header-file src="ios/PowerAuth/RCTDefines.h" />
        <header-file src="ios/PowerAuth/RCTConvert.h" />
        <source-file src="ios/PowerAuth/RCTConvert.mm" />

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="PowerAuth2" options="'1.7.9'" />
            </pods>
        </podspec>
    </platform>
</plugin>