# ------------------------------------------------------------- #
# If you need to provide credentials for PowerAuth Server       #
# then copy this file to `.env` and put your credentials there. #
#                                                               #
# The `.env` file is ignored by git, so it will not leak your   #
# credentials by accident.                                      #
#                                                               #
# If you change some variable, then:                            #
#  run "yarn android" - to apply change on Android              #
#  run "yarn pods; yarn ios" - to apply changes on iOS          #
# ------------------------------------------------------------- #

# PowerAuth Server RESTful API
POWERAUTH_SERVER_URL=
POWERAUTH_SERVER_USERNAME=
POWERAUTH_SERVER_PASSWORD=
POWERAUTH_SERVER_VERSION=
POWERAUTH_SERVER_AUTOCOMMIT=

# PowerAuth Standard RESTFul API
ENROLLMENT_SERVER_URL=