# ------------------------------------------------------------- #
# If you need to provide credentials for PowerAuth Server       #
# then copy this file to `.env` and put your credentials there. #
#                                                               #
# The `.env` file is ignored by git, so it will not leak your   #
# credentials by accident.                                      #
#                                                               #
# If you change some variable, then:                            #
#  run "npm run android" - to apply change on Android              #
#  run "npm run ios" - to apply changes on iOS          #
# ------------------------------------------------------------- #

# PowerAuth Cloud API
POWERAUTH_CLOUD_URL=https://my-url.com/powerauth-cloud
POWERAUTH_CLOUD_USERNAME=my-login
POWERAUTH_CLOUD_PASSWORD=my-password
POWERAUTH_CLOUD_APP_ID=my-app-id

# PowerAuth Enrollment API
ENROLLMENT_SERVER_URL=https://my-url.com/enrollment-server
SDK_CONFIG=BASE64_ENCODED_CONFIG