<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wultra.pwatest" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PowerAuthTest</name>
    <description>PowerAuth tests Cordova App</description>
    <author email="hello@wultra.com" href="https://www.wultra.com/">
        Wultra
    </author>
    <content src="index.html" />
    <access origin="*" />

    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>

    <platform name="ios">
        <edit-config file="*-Info.plist" mode="merge" target="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
                <key>NSAllowsArbitraryLoadsInWebContent</key>
                <true/>
                <key>NSExceptionDomains</key>
                <dict>
                    <key>127.0.0.1</key>
                    <dict>
                        <key>NSExceptionAllowsInsecureHTTPLoads</key>
                        <true/>
                        <key>NSIncludesSubdomains</key>
                        <true/>
                    </dict>
                    <key>localhost</key>
                    <dict>
                        <key>NSExceptionAllowsInsecureHTTPLoads</key>
                        <true/>
                        <key>NSIncludesSubdomains</key>
                        <true/>
                    </dict>
                </dict>
            </dict>
        </edit-config>
        <preference name="Scheme" value="file" />
    </platform>

    <!-- turn off CORS for the tests where localhost test server accesses azure.com -->
    <preference name="AndroidInsecureFileModeEnabled" value="true" />

    <preference name="android-targetSdkVersion" value="34" />
    <preference name="android-compileSdkVersion" value="36" />
    <preference name="android-buildToolsVersion" value="36.0.0" />
    <preference name="GradleVersion" value="8.11.1" />
    <preference name="GradlePluginKotlinEnabled" value="true" />
    <preference name="GradlePluginKotlinCodeStyle" value="official" />
    <preference name="GradlePluginKotlinVersion" value="2.1.20" />
    <preference name="AndroidGradlePluginVersion" value="8.9.1" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="AndroidKotlinJVMTarget" value="17" />
    <preference name="AndroidJavaSourceCompatibility" value="17" />
    <preference name="AndroidJavaTargetCompatibility" value="17" />
</widget>
